html {
	scroll-behavior: smooth; 
  }

body {
	font-family: 'Urbanist', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 24px;
}

.header-heading {
	font-size: 52px;
	font-weight: 600;
}

.header-title {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #937F31;
	margin-top: 16px;
}

/* header */

.header {
	background-color: #F7F3D7;
}

.nav-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	color: #937131;
}

.nav-link {
	padding: 0 20px;
	line-height: 50%;
	color: #937131;
	transition: 0.3s;
}

.nav-link:hover {
	color: rgb(255, 13, 13);
}

/* main */

img {
	width: 300px;
}

.header-row {
	display: flex;
	justify-content: space-between;	
}

.header-content-heading {
	max-width: 800px;
	margin-bottom: 5px;
}

.header-title {
	margin-bottom: 22px;
}

.contacts__container {
	display: flex;
	gap: 50px;
	
}

.contacts__wrapper-left {
	max-width: 300px;
	width: 100%;
	background-color: #F7F3D7;

}

.contacts-item:not(:last-child) {
	margin-bottom: 5px;
}






