* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

h1 {
    text-align: center;
    margin: 40px;
}


body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

h2 {
    margin: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav {
    background-color: brown;
  }

.nav-list {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    color: white;
    padding: 0 20px;
    line-height: 50px;
  }

.avatar {
    display: block;
    width: 200px;
    border-radius: 26px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
    margin: 10px auto 20px;

}

.footer {
    background-color: brown;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    position:static;
}